<div class="signin-wrapper" role="main">
  <div class="signin-logo" aria-label="Pitney Bowes"></div>

  <div class="signin-box">
    <h1 class="signin-title">
      {{ title }}
      <sup>™</sup>
    </h1>
    <h5 class="signin-subtitle mt-1"></h5>
    <div class="alert alert-danger" *ngIf="notFound">
      User not found, Please try again.
    </div>

    <form
      [formGroup]="signinForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
      novalidate=""
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          type="email"
          id="email"
          autocomplete="email"
          formControlName="email"
        />
        <div
          class="invalid-feedback"
          *ngIf="submitted && f.email.errors"
          role="alert"
        >
          Enter a valid email address.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          type="password"
          id="password"
          autocomplete="current-password"
          formControlName="password"
        />
        <div
          class="invalid-feedback"
          *ngIf="submitted && f.password.errors"
          role="alert"
        >
          Password is required.
        </div>
      </div>

      <button
        class="btn btn-page-primary btn-block btn-lg mt-2 mb-4"
        matRipple
        type="submit"
      >
        Sign In
      </button>
    </form>
    <span class="version">v{{ version }}</span>
  </div>
</div>
