<pbds-page-title
  ttl="Available Server List"
  layout="container"
></pbds-page-title>

<!--  mt-7 class on container, unless the first element inside is an H2 -->
<div class="container mt-7">
  <div class="row">
    <div class="col">
      <div class="col">
        <div>
          <p-table
            [ngClass]="[
              'ui-table-bordered',
              'ui-table-striped',
              'ui-table-hover',
              'ui-table-open'
            ]"
            [value]="serverList"
            dataKey="id"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            responsiveLayout="scroll"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 25, 50]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">Server Name</th>
                <th scope="col">Allocated To</th>
                <th scope="col">Server Status</th>
                <th scope="col"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-server>
              <tr>
                <td>
                  {{ server.name }}
                </td>
                <td>{{ server.status == "In Use" ? server.allocate : "" }}</td>

                <td [ngSwitch]="server.status" title="{{ server.instanceId }}">
                  <span
                    style="width: 100px"
                    *ngSwitchCase="'Available'"
                    class="badge badge-pill badge-success"
                    ><span class="sr-only"></span>{{ server.status }}</span
                  >

                  <span
                    style="width: 100px"
                    *ngSwitchCase="'Not Available'"
                    class="badge badge-pill badge-danger"
                    ><span class="sr-only"></span>{{ server.status }}</span
                  >

                  <span
                    style="width: 100px"
                    *ngSwitchCase="'In Use'"
                    class="badge badge-pill badge-warning"
                    ><span class="sr-only"></span>{{ server.status }}</span
                  >
                </td>
                <td align="center">
                  <div
                    *ngIf="server.showProgressBar"
                    class="progress-bar-caption"
                  >
                    {{ progressBarCaption }}
                  </div>
                  <div
                    class="progress"
                    *ngIf="server.showProgressBar"
                    style="width: 112px"
                  >
                    <div
                      class="progress-bar"
                      role="progressbar"
                      [ngStyle]="{ width: server.widthStyle }"
                      aria-valuenow="progressPercent"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      {{ server.progressPercent }}%
                    </div>
                  </div>
                  <button
                    title="Press to Start Server"
                    [disabled]="processStarted"
                    (click)="confirmToStartServer(server)"
                    *ngIf="showStartButton(server)"
                    class="btn btn-page-primary"
                    matRipple
                  >
                    Start
                  </button>
                  <button
                    title="Press to Stop Server"
                    [disabled]="processStarted"
                    (click)="confirmToStopServer(server)"
                    *ngIf="showStopServerButton(server) && !processStarted"
                    class="btn btn-page-secondary"
                    matRipple
                  >
                    Stop
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #verificationDialog let-modal>
  <div class="modal-header">
    <h2 id="modal-two-buttons" class="modal-title">Verification</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Close icon clicked')"
    >
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ dialogMsg }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-page-primary"
      matRipple
      (click)="modal.close('OK clicked')"
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-page-secondary"
      matRipple
      (click)="modal.close('Cancel clicked')"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #messageDialog let-modal>
  <div class="modal-header">
    <h2 id="modal-one-buttons" class="modal-title">Message</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Close icon clicked')"
    >
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ dialogMsg }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-page-secondary"
      matRipple
      (click)="modal.close('Cancel clicked')"
    >
      Cancel
    </button>
  </div>
</ng-template>