$fontWidth: 700;

@mixin setProgessBarSettings() {
  color: var(--text);
  font-family: var(--font_family_base);
  background-color: #0000;
  text-transform: uppercase;
  font-weight: $fontWidth;
  font-size: 11px;
  letter-spacing: 0.08em;
}

.progress-bar-caption {
  @include setProgessBarSettings();
}
